:root {
   --primaryColor: #e1b12c;
}

* {
   padding: 0;
   margin: 0;
}

header {
   background-color: black;
   color: white;
}

.navbar {
   padding: 0px;
}

.nav-contain {
   border-bottom: 1px solid rgb(161, 158, 158);
}

.logo {
   background-image: linear-gradient(var(--primaryColor), var(--primaryColor));
   background-repeat: no-repeat;
   background-size: 100% 3px;
   background-position: left bottom;
   padding: 12px;
}

.link-hover {
   padding: .5rem 0.3em;
   background-image: linear-gradient(var(--primaryColor), var(--primaryColor));
   background-repeat: no-repeat;
   background-size: 0% 3px;
   background-position: left bottom;
   font-size: .9em;
   transition: background-size 700ms ease-in-out;
}

.nav-link:hover {
   color: var(--primaryColor);
}

.nav-link {
   color: white;
}

.link-hover:hover {
   background-size: 100% 3px;
   color: var(--primaryColor);
}

.indice {
   font-size: small;
}

.indice span {
   border-left: 2px solid white;
}

.img-marca {
   border-bottom: 1px dashed white;
   width: 41%;
}

.model {
   position: relative;
}

.img-model {
   margin-top: -7.5rem;
   width: 50%;
}

.img-maniqui {
   position: absolute;
   left: 43%;
   height: 100%;
}

.img-genero {
   position: absolute;
   top: 8%;
   left: 17%;
   width: 65%;
}

.des-lorem {
   color: rgb(95, 96, 97);
   font-size: 1rem;
   letter-spacing: .3rem;
   position: absolute;
   top: 100%;
   left: 25%;
}